@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #5263b8;
  align-items: center;
}
.app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.question-section {
  display: flex;
  flex-direction: row;
  background: #0b0951;
  border: 0;
  border-radius: 10px;
  padding: 2%;
  color: #fff;
  width: 33%;
}
.score-quetionsection {
  display: flex;
  flex-direction: column;
  padding-right: 1%;
}
.score-quetionsection {
  display: flex;
  flex-direction: column;
  padding-right: 1%;
}
.question-count {
  display: flex;
}
.answer-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.answer-section button {
  margin-bottom: 6%;
  width: 100%;
  text-align: left;
  line-height: 1.3;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}
